li {
  display: inline;
}

@keyframes fadeIn {
  from {
    transform: translateX(-95%) translateY(-95%)  scaleX(0);
    opacity: 0.4;
  }
  to {
    transform: translateX(0) translateY(0) scaleX(1);
    opacity: 1;
  }
}

.animated-ul {
  animation: fadeIn 0.7s ease;
  display: inline-block;
  block-size: fit-content;
  list-style-type: none;
  padding: 0;
  width: 50%;
  margin: 0;
}
